{% extends 'my_portfolio/layout.html' %}

{% block title %}{{ block.super }} About Me {% endblock %}

{% block content %}
<div class="container">
    <h1>About Paul</h1>
    <h3>Personal Life</h3>
    <p></p>
    <h3>Professional Life</h3>
    <p></p>
    <h3>Education</h3>
    <ul>
        <li>B.A. History from Arizona State University</li>
        <li>M.A.ED Elementary Education from University of Phoenix</li>
        <li>Python Web Development TechDegree from Treehouse</li>
    </ul>
    <h5>Quick FAQ's</h5>
    <ul>
        <li>Favorite Color?- Blue</li>
        <li>Favorite IDE?- I love using PyCharm!</li>
    </ul>
</div>
{% endblock %}